[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/Daxa"]
	path = lib/Daxa
	url = https://github.com/Ipotrick/Daxa
[submodule "scripts/cmake/external/cmft"]
	path = scripts/cmake/external/cmft
	url = https://github.com/dariomanesku/cmft
